$rak-circle-height: 46px;

.rak-navigation {

  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  li {
    flex: 1;
    list-style: none;

    div {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: color($colors, brand_grey_2);
        top: $rak-circle-height/2;
        left: 50%;
      }
    }
    &:first-child {
      div:before {
        width: 50%;
        right: 0;
        left: inherit;
      }
    }

    &:last-child {
      div:after {
        width: 0;
      }
    }

    a {
      &:hover {
        opacity: 1;
      }

      display: inline-flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      text-decoration: none;
      span {
        display: flex;
        border-radius: 50%;
        width: $rak-circle-height;
        height: $rak-circle-height;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid color($colors, brand_grey_2);
        position: relative;
        text-decoration: none;
        z-index: 10;
        background: #fff;
        color: color($colors, brand_grey_1);
        font-size: 14px;
      }

    }

    &:first-child {
      span {
        border: 2px solid color($colors, primary);
        color: color($colors, primary);
      }
    }

    &.rak-navigation-completed {


      a {
        overflow-clip: green;
        width: $rak-circle-height;
        height: $rak-circle-height;
        img {
          display: flex;
          border-radius: 50%;
          width: $rak-circle-height;
          height: $rak-circle-height;
          text-align: center;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border: 2px solid color($colors, brand_grey_2);
          position: relative;
          text-decoration: none;
          z-index: 10;
          background: #fff;
          color: color($colors, brand_grey_1);
          font-size: 1.3rem;
          font-weight: bold;
        }
        &:after {
          font-family: "Ionicons";
          content: "\f3ff";
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 5rem;
          width: 100%;
          height: 100%;
          position: absolute;
          background: rgba(color($colors, primary), .6);
          z-index: 11;
          border-radius: 50%;

        }
      }
    }
  }
  &.rak-navigation-completed-active {
    li:first-child div:after {
      background: color($colors, primary);
    }
    li:last-child a span {
      border: 2px solid color($colors, primary);
    }

  }
}
