// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
$image-path:'../assets/imgs/';


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #EC1D24,
  brand_yellow:  #FBD03E,
  brand_black : #1A1919,
  brand_orange: #E05541,
  brand_pal : #D77567,
  brand_green : #6EC015,
  brand_grey_1: #828684,
  brand_grey_2: #CBCCCB,
  brand_grey_3: #CBCCCB,
  brand_grey_4: #DCDCDC,
  brand_grey_5: #EEEEEE,
  checkbox_color: #4D4D4C,
);

$body-background: #f7f7f7;




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionicons";



// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// Rak Money Transfer App Styles

@import "main";



$font-family-ios-base: "SFUIRegular";
$font-family-md-base:"SFUIRegular";
$font-family-wp-base:"SFUIRegular";
